@import url(/global.css);

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay-card {
    position: relative;
    overflow: hidden;
}

.overlay-card img {
    display: block;
}

.overlay-text {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s ease;
  font-size: 1.2rem;
  width: 300px;
}

.overlay-card:hover .overlay-text {
  opacity: 1;
}