@import url(/global.css);

.zoom-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.zoom-card img {
    transition: transform .35s ease;
}

.zoom-card img:hover {
  transform: scale(1.08);
}