* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zoom-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.zoom-card img {
    width: 300px;
    height: 300px;
    transition: transform .35s ease;
}

.zoom-card img:hover {
  transform: scale(1.08);
}