@import url(/global.css);

.tilt-card {
    perspective: 800px;
}

.tilt-card img {
  /* width: 100%; */
  transform-style: preserve-3d;
  transition: transform .2s ease;
}

.tilt-card:hover img {
  transform: rotateX(4deg) rotateY(4deg);
}

/* TODO Revise animation (transform) in css*/ 